PHX_SERVER=true
PHX_HOST=localhost
PORT=4000
SECRET_KEY_BASE=5Yk/sIwxBbUtp6A1yrq6wdpXlqQcyAD/OU4/dB9RwF1fk25NM7AF0GvKOnOzlGeu
POSTGRES_USER=athena_prod_user
POSTGRES_PASSWORD=StrongDBPassword!
POSTGRES_DB=athena_prod
DATABASE_URL=ecto://athena_prod_user:StrongDBPassword!@postgres:5432/athena_prod
POOL_SIZE=10
MINIO_ROOT_USER=athena_admin
MINIO_ROOT_PASSWORD=StrongMinioPassword!
MINIO_ACCESS_KEY=athena_admin
MINIO_SECRET_KEY=StrongMinioPassword!
MINIO_HOST=minio
MINIO_PUBLIC_HOST=localhost
MINIO_PORT=9000
MINIO_PORT_EXTERNAL=9000
MINIO_CONSOLE_PORT_EXTERNAL=9001
MINIO_SCHEME=http://
MINIO_BUCKET=athena
MEDIA_CLEANUP_CRON="0 * * * *"
WEB_PORT_EXTERNAL=80
FORCE_SSL=false
