@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/athena_web";

@plugin "@tailwindcss/typography";

@plugin "../vendor/heroicons";

@plugin "../vendor/daisyui" {
  themes: false;
}

@plugin "../vendor/daisyui-theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: oklch(30.33% 0.016 252.42);
  --color-base-200: oklch(25.26% 0.014 253.1);
  --color-base-300: oklch(20.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);

  --color-primary: var(--color-sky-400);
  --color-primary-content: var(--color-sky-950);

  --color-secondary: var(--color-blue-400);
  --color-secondary-content: var(--color-blue-950);

  --color-neutral: var(--color-slate-600);
  --color-neutral-content: var(--color-slate-50);

  --color-info: var(--color-cyan-400);
  --color-info-content: var(--color-cyan-950);

  --color-success: var(--color-emerald-400);
  --color-success-content: var(--color-emerald-950);

  --color-warning: var(--color-amber-400);
  --color-warning-content: var(--color-amber-950);

  --color-error: var(--color-red-400);
  --color-error-content: var(--color-red-950);

  --radius-selector: 0.125rem;
  --radius-field: 0.125rem;
  --radius-box: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "../vendor/daisyui-theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(21% 0.006 285.885);

  --color-primary: var(--color-sky-500);
  --color-primary-content: var(--color-sky-50);

  --color-secondary: var(--color-blue-500);
  --color-secondary-content: var(--color-blue-50);

  --color-neutral: var(--color-slate-200);
  --color-neutral-content: var(--color-slate-900);

  --color-info: var(--color-cyan-500);
  --color-info-content: var(--color-cyan-50);

  --color-success: var(--color-emerald-500);
  --color-success-content: var(--color-emerald-50);

  --color-warning: var(--color-amber-400);
  --color-warning-content: var(--color-amber-950);

  --color-error: var(--color-red-500);
  --color-error-content: var(--color-red-50);

  --radius-selector: 0.125rem;
  --radius-field: 0.125rem;
  --radius-box: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-phx-session],
[data-phx-teleported-src] {
  display: contents;
}

@font-face {
  font-family: "Xolonium";
  src: url("/fonts/Xolonium-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Xolonium";
  src: url("/fonts/Xolonium-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}

@theme {
  --font-sans: "Manrope", sans-serif;
  --font-display: "Xolonium", sans-serif;
}

@layer base {
  body {
    @apply antialiased transition-colors duration-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
  }
}

@layer components {
  .btn {
    font-family: var(--font-display);

    @apply shadow-none font-bold uppercase tracking-wider transition-colors duration-200;
  }

  .btn:hover {
    @apply shadow-none brightness-90;
  }

  .btn:active {
    @apply scale-[0.98];
  }

  .btn-link {
    font-family: var(--font-sans);
    @apply font-medium normal-case tracking-normal hover:underline !p-0 no-underline bg-transparent brightness-100;
  }

  .btn-link:hover {
    @apply bg-transparent brightness-100;
  }

  .prose {
    line-height: 1.5;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-sans);
    }

    p,
    ul,
    ol,
    blockquote,
    pre {
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }
    h1,
    h2,
    h3,
    h4 {
      margin-top: 1em;
      margin-bottom: 0.4em;
    }
    li {
      margin-top: 0.1em;
      margin-bottom: 0.1em;
    }
    li > p {
      margin-top: 0;
      margin-bottom: 0;
    }

    pre {
      background: #282c34;
      color: #abb2bf;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      overflow-x: auto;
    }

    pre code {
      background: none;
      color: inherit;
      padding: 0;
    }

    mark {
      background-color: var(--color-warning);
      color: var(--color-warning-content);
      border-radius: 0.25rem;
      padding: 0.125em 0.25em;
    }

    table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
      margin: 1.5em 0;
      overflow: hidden;
    }

    table td,
    table th {
      min-width: 1em;
      border: 1px solid var(--color-base-300);
      padding: 0.5rem;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;
    }

    table th {
      background-color: var(--color-base-200);
      font-weight: bold;
      text-align: left;
    }

    table p {
      margin: 0 !important;
    }

    .selectedCell:after {
      z-index: 2;
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(164, 202, 254, 0.3);
      pointer-events: none;
    }

    .column-resize-handle {
      position: absolute;
      right: -2px;
      top: 0;
      bottom: -2px;
      width: 4px;
      background-color: var(--color-primary);
      pointer-events: none;
    }

    .hljs-keyword,
    .hljs-operator,
    .hljs-pattern-match {
      color: #c678dd;
    }
    .hljs-string,
    .hljs-meta {
      color: #98c379;
    }
    .hljs-number,
    .hljs-literal,
    .hljs-type,
    .hljs-built_in {
      color: #d19a66;
    }
    .hljs-title,
    .hljs-class,
    .hljs-function {
      color: #61afef;
    }
    .hljs-comment,
    .hljs-doctag {
      color: #5c6370;
      font-style: italic;
    }
    .hljs-variable,
    .hljs-attr,
    .hljs-attribute {
      color: #e06c75;
    }
  }
}
